@model AddRemoveUsers
<h1>Users in @Model.identityRole.Name</h1>
<table class="table table-striped" border="1">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Remove</th>
        </tr>
    </thead>
    @foreach (var user in Model.memberofrole)
    {
<tr>
    <td>@user.Id</td>
    <td>@user.UserName</td>
    <td>@user.Email</td>
    <td>@user.PhoneNumber</td>
    <td><a asp-controller="Roles" asp-action="Remove" asp-route-id="@user.Id" asp-route-roleid="@Model.identityRole.Id">Remove</a></td>
</tr>
    }
</table>

<h1>Users not in @Model.identityRole.Name</h1>
<table class="table table-striped" border="1">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Add</th>
        </tr>
    </thead>
    @foreach (var user in Model.nonmemberofrole)
    {
<tr>
    <td>@user.Id</td>
    <td>@user.UserName</td>
    <td>@user.Email</td>
    <td>@user.PhoneNumber</td>
    <td><a asp-controller="Roles" asp-action="Add" asp-route-id="@user.Id" asp-route-roleid="@Model.identityRole.Id">Add</a></td>
</tr>
    }
</table>