@model IEnumerable<Transaction>


    <table class="table table-striped table-dark">
        <tr>
            <th>Transaction ID</th>
            <th>Date Time</th>
            <th>Narration</th>
            <th>Withdrawl</th>
            <th>Deposit</th>
            <th>Closing Balance</th>
        </tr>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionID</td>
                <td>@transaction.Datetime</td>
                <td>@transaction.Narration</td>
                <td>@transaction.Withdrawl</td>
                <td>@transaction.Deposit</td>
                <td>@transaction.ClosingBalance</td>
            </tr>
        }
    </table>